[user]
	email = michael@katnegermis.dk
	name = Michael Bang
[alias]
    a = add -A
    s = status -s
    cm = commit -m
    cam = commit -am
    co = checkout
    cob = checkout -b
    ca = commit -a
    c = commit
    b = branch
    ba = branch -a
    f = fetch
    pu = push
    fb = !git checkout -b $1 master
    zip = archive --format=zip -9
[color]
    branch = auto
    diff = auto
    status = auto
[merge]
	tool = kdiff3
[core]
	excludesfile = ~/.gitignore
    editor = vim
[push]
	default = simple
[filter "tabspace"]
	clean = expand --tabs=4 --initial
