[user]
	email = mic@vbang.dk
	name = Michael Bang
[alias]
    a = add -A
    s = status -s
    cm = commit -m
    cam = commit -am
    co = checkout
    cob = checkout -b
    ca = commit -a
    c = commit
    ri = rebase --interactive
    rc = rebase --continue
    b = branch
    ba = branch -a
    f = fetch
    pu = push
    fb = "!git checkout development && git cob $1"
    zip = archive --format=zip -9
    diffc = diff --cached
    ai = add --interactive
    branch-name = "!git rev-parse --abbrev-ref HEAD"
    pub = "!git push -u origin $(git branch-name)"
    pullo = "!git fetch && git reset --hard origin/$(git branch-name)"
    pubt = "!git push --tags -u origin $(git branch-name)"
    unpub = "!git push origin :$(git branch-name)"
    gotag = !git tag -m "$1" -a
    t = tag
    td = tag -d
[color]
    branch = auto
    diff = auto
    status = auto
[merge]
	tool = kdiff3
[core]
	excludesfile = ~/.gitignore
    editor = vim
[push]
	default = simple
[filter "tabspace"]
	clean = expand --tabs=4 --initial
[url "[git@git.haps.pw:8007]:"]
	insteadOf = http://git.haps.pw/
[url "git@gitlab.com:"]
	insteadOf = https://gitlab.com/
